// colours
$dark-primary-colour: #303f9f;
$primary-colour: #3f51b5;
$light-primary-colour: #c5cae9;
$text-icon-colour: #ffffff;
$accent-colour: #ff4081;
$primary-text-colour: #212121;
$secondary-text-colour: #757575;
$divider-colour: #bdbdbd;
$off-white: #f8f9fa;
