// @import 'typography';
@import 'colours';
@import 'clip';

// override bootstrap type margin
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 1rem;
  margin-top: 1.5rem;
}

body {
  margin-top: 74px; // to accommodate fixed navbar height
}

.full-width {
  // width: 100vw;
  // position: relative;
  // left: 50%;
  // right: 50%;
  // margin-left: -50vw;
  // margin-right: -50vw;
  flex: 0 1 100vw;
}

.narrow-width {
  padding-left: 2%;
  padding-right: 2%;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .narrow-width {
    padding-left: 5%;
    padding-right: 5%;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .narrow-width {
    padding-left: 10%;
    padding-right: 10%;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .narrow-width {
    padding-left: 15%;
    padding-right: 15%;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .narrow-width {
    padding-left: 20%;
    padding-right: 20%;
  }
}

// navbar
.navbar-nav-svg {
  display: inline-block;
  fill: $accent-colour;
  height: 2rem;
  vertical-align: text-top;
  width: 2rem;
  :hover {
    fill: $primary-colour;
  }
}

.btn-primary {
  background-color: $primary-colour;
  border-color: $primary-colour;
  color: $text-icon-colour;
  &:hover {
    background-color: $accent-colour;
    border-color: $accent-colour;
    color: $text-icon-colour;
  }
}

a {
  color: $primary-colour;
  &:hover {
    color: $accent-colour;
  }
}

// header
.profile-info-container {
  color: $dark-primary-colour;
  margin: 3rem auto;
  .h4 {
    color: $accent-colour;
    margin-bottom: 1.5rem;
  }
}
header {
  button {
    height: 64px;
    width: 64px;
  }
  h1 {
    color: $dark-primary-colour;
  }
  .lead {
    color: $secondary-text-colour;
  }
  svg {
    background-color: $text-icon-colour;
    padding-top: 5%;
    path {
      fill: $dark-primary-colour;
      fill-opacity: 0;
      stroke: $dark-primary-colour;
    }
    width: 100%;
  }
  text-align: center;
}

.header-flex-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.profile-info-container,
.profile-svg-container {
  flex: 1 0 15rem;
  margin: 2.5rem 1rem;
}

// work
#work {
  .work {
    background-color: $accent-colour;
    color: $text-icon-colour;
  }
  .badge {
    white-space: normal;
  }
  .badge-primary {
    // background-color: rgba($dark-primary-colour, 0.7);
    background-color: $off-white;
    color: #212121;
  }
  .badge-secondary {
    // background-color: rgba(darken($accent-colour, 80%), 0.2);
    background-color: $off-white;
    color: #3f51b5;
  }
  li {
    margin: 1rem 0;
  }
  .never-stop-learning {
    .badge {
      // background-color: rgba(darken($accent-colour, 30%), 0.3);
      background-color: $primary-text-colour;
      font-size: 1.5rem;
      padding: 1rem;
    }
    // color: $dark-primary-colour;
  }
}

// testimonials
#testimonials {
  .testimonials {
    background-color: $dark-primary-colour;
    color: $text-icon-colour;
  }
  .card-container {
    align-items: center;
    background-color: $dark-primary-colour;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .card-flex {
    flex: 1 0 25rem;
    margin: 3rem;
    max-width: 40rem;
  }
  // Small devices set max width of cards to be screen width
  @media (max-width: 576px) {
    .card-flex {
      flex: 1 0 100vw;
    }
  }
  .card {
    background: -moz-linear-gradient(
      top,
      rgba(63, 81, 181, 1) 0%,
      rgba(125, 185, 232, 0) 100%
    ); /* FF3.6-15 */
    background: -webkit-linear-gradient(
      top,
      rgba(63, 81, 181, 1) 0%,
      rgba(125, 185, 232, 0) 100%
    ); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(
      to bottom,
      rgba(63, 81, 181, 1) 0%,
      rgba(125, 185, 232, 0) 100%
    ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(
      startColorstr='#3f51b5',
      endColorstr='#007db9e8',
      GradientType=0
    ); /* IE6-9 */
    border: 0 solid $divider-colour;
    padding-top: 2rem;
  }
  .card-title {
    color: $accent-colour;
    // text-align: center;
  }
  .card-text {
    color: $text-icon-colour;
  }
  .card footer a {
    color: $light-primary-colour;
  }
  .card cite {
    color: $divider-colour;
  }
  .blockquote-footer {
    color: $primary-colour;
    margin-top: 0.5rem;
    a {
      color: inherit;
    }
  }
  .show-testimonials {
    padding: 0 calc(50% - 6rem);
  }
}

#projects {
  // background-color: $text-icon-colour;
  color: $primary-text-colour;
  //projects parallax
  .bg-blackbox {
    background-image: url(/img/backgrounds/blackbox.jpg);
  }
  .bg-velo-studio {
    background-image: url(/img/backgrounds/velo-studio.jpg);
  }
  .bg-wedding {
    background-image: url(/img/backgrounds/01_2400_1600.jpg);
  }
  .bg-ejss3 {
    background-image: url(/img/backgrounds/ejss3.jpg);
  }
  .project-parallax {
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 80vh;
  }
  .project-content {
    background-color: white;
    bottom: 0;
    // position: absolute;
    // width: 100%;
  }
  .project-buttons {
    margin: -6em auto 6em auto;
    width: 22em;
    width: max-content; //override with actual width if supported by browser
  }
  .flex-container {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .flex-card {
    flex: 1 0 25rem;
    margin: 3rem;
    max-width: 40rem;
  }
  // Small devices set max width of cards to be screen width
  @media (max-width: 576px) {
    .flex-card {
      flex: 1 0 100vw;
    }
  }
  .badge-primary {
    background-color: $secondary-text-colour;
    font-weight: 400;
  }
  .button-icon {
    fill: $text-icon-colour;
    width: 1em;
  }
  .btn-primary {
    background-color: $accent-colour;
    border-color: $accent-colour;
    color: $text-icon-colour;
    &:hover {
      background-color: $primary-colour;
      border-color: $primary-colour;
      color: $text-icon-colour;
    }
  }
  .card-header {
    background-color: $accent-colour;
    color: $text-icon-colour;
    font-size: 2.5rem;
  }
  .card-footer a {
    padding: 0 0.5rem;
  }
  .h2-blackbox {
    font-family: 'Passion One';
    font-size: 8rem;
    line-height: 6rem;
    padding-bottom: 2rem;
    text-align: center;
  }
  .h2-wedding {
    color: $accent-colour;
    font-family: 'Lovers Quarrel';
    font-size: 8rem;
    padding-bottom: 2rem;
    text-align: center;
  }
  .h2-ejss3 {
    color: $dark-primary-colour;
    font-size: 3rem;
    padding-bottom: 2rem;
    text-align: center;
  }
  .velo-studio-logo {
    margin-bottom: 2rem;
  }
}

// contact
.contact-container {
  align-items: center;
  background-color: $dark-primary-colour;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.contact-card {
  a {
    color: $text-icon-colour;
    text-decoration: none;
  }
  background: -moz-linear-gradient(
    top,
    rgba(63, 81, 181, 1) 0%,
    rgba(125, 185, 232, 0) 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    rgba(63, 81, 181, 1) 0%,
    rgba(125, 185, 232, 0) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    rgba(63, 81, 181, 1) 0%,
    rgba(125, 185, 232, 0) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(
      startColorstr='#3f51b5',
      endColorstr='#007db9e8',
      GradientType=0
    ); /* IE6-9 */
  border: 0 solid $divider-colour;
  flex: 1 0 13rem;
  margin: 1rem;
  max-width: 20rem;
  padding: 1rem;
  text-align: center;
}
.contact {
  background-color: $dark-primary-colour;
  color: $text-icon-colour;
}
.contact-icon {
  fill: $accent-colour;
  height: 32px;
  margin: 0.5rem;
  transition: all 3s;
  transition-timing-function: ease-in-out;
  width: 32px;
  &:hover {
    transform: rotate(1080deg);
  }
}

// Typography Headings
// style the text
.contact h1,
.projects h1,
.work h1,
.testimonials h1 {
  font-family: 'Work Sans', Arial, Helvetica, sans-serif;
  font-weight: 800;
  font-size: 3rem;
  line-height: 8rem;
  text-align: center;
  text-transform: uppercase;
}

// Forms
.form-control:focus {
  border-color: #ff3f81;
  box-shadow: 0 0 0 0.2rem rgba(255, 63, 129, 0.25);
}
